<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        div {
        text-align: center;
        border: 1px solid black;
        }
        table, th, td {
                    border: 1px solid black;
        }
    </style>
</head>
<body>
<div style="text-align: right;border: none">
    <a href="/home">Home</a>
</div>
<br>
<div>
    <h2>Create New Customer Form</h2>
    <form method="post" action="#" th:action="@{/create/customer}" th:object="${createCustomer}">
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>Age: <input type="text" th:field="*{age}"/></p>
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Address: <input type="text" th:field="*{address}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
<br>
<div>
    <h2>List of Customers</h2>
    <form method="post" action="#" th:action="@{/delete/customer}">
        <table>
            <tr>
                <th><input type="submit" value="Delete"/></th>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>&nbsp;</th>
            </tr>
            <tr th:each="customer : ${listAllCustomers}">
                <td><input type="checkbox" name="checkedCustomer" th:value="${customer.id}"/></td>
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td><a th:href="@{/update/customer/{id}(id=${customer.id})}">Edit </a></td>
            </tr>
        </table>
    </form>
</div>
<br>
<div>
    <h2>Update Customer Form</h2>
    <form method="post" action="#" th:action="@{/update/customer}" th:object="${updateCustomer}">
        <p>Id: <input readonly type="text" th:field="*{id}"/></p>
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p>Age: <input type="text" th:field="*{age}"/></p>
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <p>Address: <input type="text" th:field="*{address}"/></p>
        <p><input type="submit" value="Update"/></p>
    </form>
</div>
<br>
</body>
</html>