<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    div {
    text-align: left;
    border: 1px solid black;
    }
</style>
<body>
<h2>Home Page</h2>
<div>
    <ul>
        <li><a href="/create/customer">Manage Customers</a></li>
        <li><a href="/update/login/history">Manage Login History</a></li>
        <li><a href="/">Login Page</a></li>
    </ul>
</div>
</body>
</html>