<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        div {
        text-align: center;
        border: 1px solid black;
        }
        table, th, td {
                    border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>History Page</h2>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Status</th>
            <th>Time</th>
        </tr>
        <tr th:each="login: ${getAllLoginsByKey}">
            <td th:text="${login.id}"/>
            <td th:text="${login.userName}"/>
            <td th:text="${login.status}"/>
            <td th:text="${login.time}"/>
        </tr>
    </table>
</div>

</body>
</html>